[AccountInfo]
gerrit_ssh_key = /home/user/.ssh/sfci_rsa
gerrit_host = review.openstack.org
gerrit_port = 29418
project_name = openstack/cinder
ci_name = sos-changeme-dsvm-full
ci_account = my-ci-account
recheck_string = 'recheck my-ci-name'

[Ansible]
ansible_dir = /path/to/my/ansible/playbooks

[Data]
debug = True
data_dir = /path/to/my/sos-ci/data/dir
[Email]
enable_notifications = true
from_address = me@email.com
to_address = you@email.com

[Logs]
log_dir = http://your/web/server/log/dir
