- hosts: devstack_instances
  tasks:

  - name: send over upload script
    sudo: no
    template: src=../../scripts/upload_logs.sh dest=/home/ubuntu/

  - name: run upload
    sudo: yes
    shell: bash ./upload_logs.sh {{ instance_name }}
    args:
      chdir: /home/ubuntu

  - name: fetch tempest_results
    sudo: yes
    fetch: src=/opt/stack/tempest/console.log.out dest={{ results_dir }}/{{ instance_name }}/console.log.out flat=yes validate_md5=no

  - name: fetch logs
    sudo: yes
    fetch: src=/home/ubuntu/{{instance_name}}/{{ instance_name }}.tar.gz dest={{ results_dir }}/ flat=yes validate_md5=no
